.navigation {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.nav-bar-container {
    background-color: #AAA;
    padding-left: 20px;
    padding-right: 20px;
}


/* TODO доделать стили верхней части с вкладками, продумать дизайн самой страницы */

.tabs__content {
    margin-top: var(--navbar-height);
    padding-right: 60px;
    padding-left: 60px;
    width: 100%;
}

.tab {
    display: none;
    border-bottom: 0 solid sienna;
}

.tab.is-active {
    display: block;
}

.tabs-nav__item.is-active {
    background-color: var(--light-red);
    border-radius: 10px;
    color: white;
    background-color: rgb(199, 70, 70);
    border-radius: 20px;
}

.tabs-nav__item {
    cursor: pointer;
    transition: .4s ease-in-out;
    padding: 10px;
    font-size: 20px;
    margin: 5px;
}